.border
.slider
  .container
    .pane
      .inner.solid
        %img{:src => '/assets/am.png'}

%header
  .headerContents
    %h1 antonio miranda
    %ul
      %li
        %h2
          %a interactive designer & developer
        %h2
          %a barcelona
      %li
        %h2
          %a email me
        %h2
          %a resume
      %li
        %h2
          %a work
        %h2
          %a blog
      %li
        %h2
          %a github
        %h2
          %a @ mail


#read
#write

- content_for :end_scripts do
  :javascript
    $(function(){
      ComplexresponseTells.init({
        tells: #{@tells.to_json.html_safe}
      });
    });