
.iosSlider
  .slider
    .slide content

#read
#write

- content_for :end_scripts do
  :javascript
    $(function(){
      ComplexresponseTells.init({
        tells: #{@tells.to_json.html_safe}
      });
    });