

#tells.container

#read
#write

= javascript_include_tag  'application'
- content_for :end_scripts do
  :javascript
    $(function(){
      ComplexresponseTells.init({
        tells: #{@tells.to_json.html_safe}
      });
    });