%h1 complexresponse
%h2= link_to "storytelling", tells_path

%ul
  - @tells.each do |tell|
    %li
      = tell.published
      %b= tell.message

#tells

:javascript
  $(function(){
    ComplexresponseTells.init({
      tells: #{@tells.to_json.html_safe}
    });
  });