.container-fluid
  %h1 tells
  %h2 cadavre exquis
  #read
  #write

- content_for :end_scripts do
  :javascript
    $(function(){
      ComplexresponseTells.init({
        tells: #{@tells.to_json.html_safe}
      });
    });