// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: dimgrey;
}

button, textarea {
  margin: 0;
}

#new-tell {
  height: 60px;
  margin: 20px 0;
  background-color: lightgray;
}

#new-tell>textarea {
  height: 100%;
  border: none;
  color: dimgray;
  background-color: whitesmoke;
}

#new-tell>textarea:focus {
  border: 1px solid lightcoral;
  outline: none;
}

#new-tell>button {
  height: 100%;
  border: none;
  color: dimgray;
  background-color: lightcoral;
}

.tell-last-word{
  line-height: 60px;
  text-align: right;
  color: dimgray;
}

#tells-list {
  li, p, div {
    display: inline;
    padding: 4px 0;
    margin: 0;
    line-height: 24px;
    background-color: lightcoral;
    color: dimgray;
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  div {
    display: none;
    background-color: aliceblue;
  }
}

.pulley {
  color: lightcoral;
  background-color: dimgrey;
  padding: 2px 10px;
  width: 100px;
  text-align: right;
  cursor: pointer;

  //-webkit-touch-callout: none;
  //-webkit-user-select: none;
  //-khtml-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}

#read-btn, #write-btn {
  display: inline-block;
  color: dimgray;
  background: lightgray;
  padding: 4px;
  border-radius: 2px;
}

#read-btn>a, #write-btn>a {
  color: dimgray;
}

/* slider container */
.iosSlider {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;

  width: 200px;
  height: 400px;
}

/* slider */
.iosSlider .slider {
  /* required */
  width: 400%;
  height: 100%;
}

/* slide */
.iosSlider .slider .slide {
  float: left;

  width: 400px;
  height: 200px;
}