<h1>Edit tell</h1>

<form id="edit-tell" name="tell">

  <div class="field">
    <label for="message"> message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Tell" />
  </div>

</form>

<a href="#/index">Back</a>