<h1>Edit tell</h1>

<form id="edit-tell" name="tell">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="message"> message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="field">
    <label for="published"> published:</label>
    <input type="text" name="published" id="published" value="<%= published %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Tell" />
  </div>

</form>

<a href="#/index">Back</a>