<h1>Listing tells</h1>

<table id="tells-table">
  <tr>
    <th>Name</th>
    <th>Message</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Tell</a>