<h1>New tell</h1>

<form id="new-tell" name="tell">
  <div class="field">
    <label for="message"> message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Tell" />
  </div>

</form>

<a href="#/index">Back</a>